/* General */
:root{
  --desaturated-blue-bg:hsl(222, 26%, 31%);
  --desaturated-blue-toggle:hsl(223, 31%, 20%);
  --red:hsl(6, 63%, 50%);
  --Dark-red-key-shadow: hsl(6, 70%, 34%);
  --desaturated-blue-screen:hsl(224, 36%, 15%);
  --text-white:hsl(0, 0%, 100%);
  --dark-grayish-blue: hsl(221, 14%, 31%);
  --Light-grayish-orange-keys: hsl(30, 25%, 89%);
  --Grayish-orange-key-shadow: hsl(28, 16%, 65%);
  --Desaturated-dark-blue-keys: hsl(225, 21%, 49%);
  --Desaturated-dark-blue-key-shadow: hsl(224, 28%, 35%);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: var(--desaturated-blue-bg);
  font-family:'League Spartan', sans-serif;
}

.calc-wrapper{
  padding-top: 3rem;
  margin: auto;
  width: 85%;
  max-width: 450px;
}

/* Calculator header */

header{
  color: var(--text-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#selector-title {
  font-size: .7rem;
  margin-top: 1rem;
  margin-right: 2rem;
}

/* theme selection slider */

.theme-selector-wrapper{
  display: flex;
  flex-direction: column;
  width: 70px;
  max-width: 100px;
}

.theme-selector-numbers{
  display: flex;
  justify-content: space-around;
  margin-bottom: .3rem;
  font-size: .7rem;
}

.slider-wrapper{
  background-color: var(--desaturated-blue-toggle);
  border-radius: 20px;
  padding:6px 5px;
}

.toggle-circle{
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--red);
  border-radius: 20px;
  transition-duration: .15s;
  transition-timing-function: linear;
}

.toggle-circle:hover{
  cursor: pointer;
}
.slide-2{
  transform: translateX(22px);
}

.slide-3{
  transform: translateX(45px);
}




/* Display */

.calc-display{
  background-color: var(--desaturated-blue-screen);
  width: 100%;
  height: 70px;
  border-radius: 10px;
  margin: 2rem 0;
  color: var(--text-white);
  display: flex;
  justify-content: end;
  align-items: center;
}

.display-text{
  font-size: 2rem;
  margin-right: 1rem;
}

/* Calculator button styles */

.calc-buttons-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--desaturated-blue-toggle);
  column-gap: 12px;
  row-gap: 15px;
  padding: 1.2rem 1rem ;
  border-radius: 10px;
  color: var(--dark-grayish-blue);
}

.calc-buttons-wrapper button{
  width: 100%;
  height: 4rem;
	border: none;
	cursor: pointer;
	outline: none;
  border-radius: 5px;
}

.color-button{
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--text-white);
  background-color: var(--Desaturated-dark-blue-keys);
  box-shadow: 0px 5px var(--Desaturated-dark-blue-key-shadow);
}

.calc-button{
  font-size: 2rem;
  background-color: var(--Light-grayish-orange-keys);
  box-shadow: 0px 5px var(--Light-grayish-orange-keys);
}

.reset-button{
  grid-column-start: 1;
  grid-column-end: 3;
}

.equals-button{
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: var(--red);
  box-shadow: 0px 5px var(--Dark-red-key-shadow);
}

