/* General */
:root{
  /* Theme 1 */
  --desaturated-blue-bg:hsl(222, 26%, 31%);
  --desaturated-blue-toggle:hsl(223, 31%, 20%);
  --red:hsl(6, 63%, 50%);
  --Dark-red-key-shadow: hsl(6, 70%, 34%);
  --desaturated-blue-screen:hsl(224, 36%, 15%);
  --text-white:hsl(0, 0%, 100%);
  --dark-grayish-blue: hsl(221, 14%, 31%);
  --Light-grayish-orange-keys: hsl(30, 25%, 89%);
  --Grayish-orange-key-shadow: hsl(28, 16%, 65%);
  --Desaturated-dark-blue-keys: hsl(225, 21%, 49%);
  --Desaturated-dark-blue-key-shadow: hsl(224, 28%, 35%);

/* Theme 2 */

  /* Backgrounds */

--Light-gray-main-background: hsl(0, 0%, 90%);
--Grayish-red-toggle-background-keypad-background: hsl(0, 5%, 81%);
--Very-light-gray-screen-background: hsl(0, 0%, 93%);

  /* Keys */

--Dark-moderate-cyan-key-background: hsl(185, 42%, 37%);
--Very-dark-cyan-key-shadow: hsl(185, 58%, 25%);

--Orange-key-background-toggle:hsl(25, 98%, 40%);
--Dark-orange-key-shadow: hsl(25, 99%, 27%);

--Light-grayish-yellow-key-background: hsl(45, 7%, 89%);
--Dark-grayish-orange-key-shadow: hsl(35, 11%, 61%);

  /* Text */
--Very-dark-grayish-yellow: hsl(60, 10%, 19%);

/* Theme 3 */

--Very-dark-violet-main-background: hsl(268, 75%, 9%);
--Very-dark-violet-toggle-background-keypad-background-screen-background: hsl(268, 71%, 12%);

  /* Keys */

--Dark-violet-key-background: hsl(281, 89%, 26%);
--Vivid-magenta-key-shadow: hsl(285, 91%, 52%);

--Pure-cyan-key-background-toggle: hsl(176, 100%, 44%);
--Soft-cyan-key-shadow: hsl(177, 92%, 70%);

--Very-dark-violet-key-background: hsl(268, 47%, 21%);
--Dark-magenta-key-shadow: hsl(290, 70%, 36%);

  /* Text */

--Light-yellow: hsl(52, 100%, 62%);
--Very-dark-blue: hsl(198, 20%, 13%);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: var(--desaturated-blue-bg);
  font-family:'League Spartan', sans-serif;
}

body.theme-2{
  background-color: var(--Light-gray-main-background);
}

body.theme-3{
  background-color: var(--Very-dark-violet-main-background);
}

.calc-wrapper{
  padding-top: 3rem;
  margin: auto;
  width: 85%;
  max-width: 450px;
}

/* Calculator header */

header{
  color: var(--text-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#selector-title {
  font-size: .7rem;
  margin-top: 1rem;
  margin-right: 2rem;
}

/* theme selection slider */

.theme-selector-wrapper{
  display: flex;
  flex-direction: column;
  width: 70px;
  max-width: 100px;
}

.theme-selector-numbers{
  display: flex;
  justify-content: space-around;
  margin-bottom: .3rem;
  font-size: .7rem;
}

.slider-wrapper{
  background-color: var(--desaturated-blue-toggle);
  border-radius: 20px;
  padding:6px 5px;
}

.slider-wrapper.theme-2{
  background-color: var(--Grayish-red-toggle-background-keypad-background);
}

.toggle-circle{
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--red);
  border-radius: 20px;
  transition-duration: .15s;
  transition-timing-function: linear;
}

.toggle-circle:hover{
  cursor: pointer;
}

.toggle-circle.theme-2{
  transform: translateX(22px);
}

.toggle-circle.theme-3{
  transform: translateX(45px);
}




/* Display */

.calc-display{
  background-color: var(--desaturated-blue-screen);
  width: 100%;
  height: 70px;
  border-radius: 10px;
  margin: 2rem 0;
  color: var(--text-white);
  display: flex;
  justify-content: end;
  align-items: center;
}

.display-text{
  font-size: 2rem;
  margin-right: 1rem;
}

/* Calculator button styles */

.calc-buttons-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--desaturated-blue-toggle);
  column-gap: 12px;
  row-gap: 15px;
  padding: 1.2rem 1rem ;
  border-radius: 10px;
  color: var(--dark-grayish-blue);
}

.calc-buttons-wrapper button{
  width: 100%;
  height: 4rem;
	border: none;
	cursor: pointer;
	outline: none;
  border-radius: 5px;
}

.color-button{
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--text-white);
  background-color: var(--Desaturated-dark-blue-keys);
  box-shadow: 0px 5px var(--Desaturated-dark-blue-key-shadow);
}

.calc-button{
  font-size: 2rem;
  background-color: var(--Light-grayish-orange-keys);
  box-shadow: 0px 6px var(--Grayish-orange-key-shadow);
  font-weight: 700;
}

.reset-button{
  grid-column-start: 1;
  grid-column-end: 3;
}

.equals-button{
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: var(--red);
  box-shadow: 0px 5px var(--Dark-red-key-shadow);
}

